<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect all other requests to Public/index.php
    RewriteRule ^(.*)$ src/routing.php [QSA,L]

    # Deny access to .htaccess file
    <Files .htaccess>
        Order Allow,Deny
        Deny from all
    </Files>

    # Deny access to sensitive files
    <FilesMatch "\.(env|json|lock|log|ini|sh|bak|swp|sql)$">
        Order Allow,Deny
        Deny from all
    </FilesMatch>
</IfModule>