<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .container {
            display: flex;
            width: 100%;
            height: 100vh;
            overflow-y: auto;
        }

        .main-content {
            flex: 1;
            height: 100%;
            overflow-y: auto;
            transition: flex 0.3s ease-in-out;
        }

        .sidebar {
            width: 0;
            height: 100%;
            overflow-y: auto;
            transition: width 0.3s ease-in-out;
        }

        .sidebar.open {
            width: 33%;
        }

        #sidebar {
            position: relative;
        }


    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/api/v1/owner', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    const ownerData = data.message;
                    document.getElementById('company_name').value = ownerData.Company.name;
                    document.getElementById('nip').value = ownerData.Company.nip;
                    document.getElementById('address').value = ownerData.Company.address;
                    document.getElementById('forename').value = ownerData.Person.forename;
                    document.getElementById('surname').value = ownerData.Person.surname;
                });
            fetch('/api/v1/vehicle', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    const vehicleData = data.message.Vehicle;
                    const mileageData = data.message.Mileage;

                    document.getElementById('vehicle_brand').value = vehicleData.brand;
                    document.getElementById('vehicle_model').value = vehicleData.model;
                    document.getElementById('vehicle_year').value = vehicleData.year;
                    document.getElementById('registration_number').value = vehicleData.registration_number;
                    document.getElementById('vin').value = vehicleData.vin;
                    document.getElementById('engine_capacity').value = vehicleData.engin_capacity;
                    document.getElementById('date_start').value = mileageData.dateStart;
                    document.getElementById('date_end').value = mileageData.dateEnd;
                    document.getElementById('mileage_start').value = mileageData.mileage_start;
                    document.getElementById('mileage_end').value = mileageData.mileage_end;
                    document.getElementById('tolerance_max').value = mileageData.tolerance_max;
                    document.getElementById('tolerance').value = mileageData.tolerance;
                });


            document.getElementById('close-sidebar').addEventListener('click', function () {
                document.getElementById('sidebar').classList.remove('open');
            });
            document.getElementById('open-sidebar').addEventListener('click', function () {
                document.getElementById('sidebar').classList.toggle('open');
            });
        });
    </script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="container">
    <div class="main-content bg-white p-8 rounded-lg shadow-lg">
        <div class="flex items-center mb-6">
            <h2 class="text-2xl font-bold mr-4">Example Form</h2>

            <button id="open-sidebar" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700">Pokaż
                pliki
            </button>
        </div>

        <form id="form" action="/submit" method="POST">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {% include 'formCompanyInfo.twig' %}
                {% include 'formPersonalInfo.twig' %}
            </div>
            {% include 'formVehicleInfo.twig' %}
            {% include 'formMileageInfo.twig' %}
        </form>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" class="bg-white shadow-lg sidebar">

        <div class="p-4">
            <button id="close-sidebar" class="text-red-500">
                <i class="fas fa-arrow-right"></i>
            </button>

            <button type="button" onclick="refreshPdfList()"
                    class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 mr-4 mr-4"><i class="fas fa-sync-alt mr-4"></i>Odświerz
            </button>
            <button type="submit" form="form"
                    class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 mr-4">Wygeneruj
            </button>
            <div id="sidebar-content" class="mt-4">
                <div id="preloader" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50 hidden">
                    <i class="fas fa-spinner fa-spin text-white text-4xl"></i>
                </div>
                <div id="pdf-list-container" class="grid grid-cols-1 gap-4">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/pdfList.js"></script>
</html>